node_modules/
.env
dist/
terraform.tfstate*
.terraform
.idea
.vscode
/lerna-debug.log
*.swp
*.tgz
*.cnf
*.csr

*--production--secret.yaml
*--production--secrets.yaml
*--staging--secret.yaml
*--staging--secrets.yaml

circle-key.json
production.crt
production.key
staging.crt
staging.key
package-lock.json
yarn-error.log
